@charset "UTF-8";

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
 body * {
  font-family: 'Noto Sans KR', sans-serif;
}
 ul>li{
  list-style: none;
 }
 a{
  text-decoration: none !important;
 }
 .tx-grean{
  color: #198754;
 }
 #border-gr{
  border-bottom-color: rgb(153,209,159) !important;
 }
.wh-100px{
  width: 110px;
  height: 80px;
  margin: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  font-weight: bold;
  transition: transform .3s;
}
.wh-100px:hover{
  border:var(--bs-green) 2px solid;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2) !important;
  transition: transform .3s;
  transform: translateY(-10px);
}
.wh-100px>div{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wh-100px img{
  height: 30px;
}
#maptoggle #mapboard{
  z-index: 999;
  visibility: hidden;
  transform: translateY(50px);
  transition: transform .5s;
}
#maptoggle:hover #mapboard{
  visibility: visible;
  transition: transform .5s;
  transform: translateY(0px);
}

.ac{
  transition: transform .5s;
}
.ac:hover{
  transition: transform .5s;
  transform: translateY(-10px);
}


.greendot{
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

th{
  min-width: 100px;
}
.px-6 {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

.px-7 {
  padding-right: 12rem !important;
  padding-left: 12rem !important;
}
.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.py-7 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}
.fs-7 {
  font-size: 14px !important;
}
.fs-8 {
  font-size: 12px !important;
}

.bg-gradient-primary-to-secondary {
  background: rgb(83,169,129);
  background: linear-gradient(160deg, rgba(83,169,129,0.927608543417367) 24%, rgba(189,209,142,1) 97%);
}

.text-gradient {
  background: linear-gradient(160deg, rgba(83,169,129,0.927608543417367) 24%, rgba(189,209,142,1) 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-primary {
  --bs-border-opacity: 1;
  border-color: rgb(83,169,129) !important;
}

.logo img{
  height: 70px;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .clip-pic{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
   }
}
.link-primary {
  color: rgb(83,169,129) !important;
}
.link-primary:hover, .link-primary:focus {
  color: rgb(33,139,89) !important;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(83,169,129);
  --bs-btn-border-color: rgb(83,169,129);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(33,139,89);
  --bs-btn-hover-border-color: rgb(33,139,89);
  --bs-btn-focus-shadow-rgb: 64, 79, 245;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(33,139,89);
  --bs-btn-active-border-color: rgb(33,139,89);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(83,169,129);
  --bs-btn-disabled-border-color: rgb(83,169,129);
}

/*  
rgb(83,169,129);
linear-gradient(125deg, rgba(83,169,129,0.927608543417367) 16%, rgba(228,247,184,1) 97%);
rgb(33,139,89);
*/

.profile {
  position: relative;
  width: 100%;
}


.profile .dots-4 svg {
  fill: rgb(83,169,129);
}
.modal{
  padding: 3rem;
}

.modal-dialog{
  max-width: 80vw;
  max-height: 80vh;
  width: 80vw;
  height: 80vh;
  min-width: 80vw;
  min-height: 80vh;
}
.modal-dialog img{
  margin: auto;
  max-width: 75vw;
  max-height: 75vh;
}

.thumn{
  width: 300px;
  height: 400px;
}
.thumn div{
  transition: all .5s;
}
.thumn:hover div{
  transition: all .5s;
  transform: scale(103%);
}
.thumn div.msg{
  transition: all .5s;
  opacity: 0;
}
.thumn:hover div.msg{
  transition: all .5s;
  opacity: 0.5;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid gray;
}

.navhide{
  visibility: hidden;
  transform: translateY(70px);
  transition: all .5s;
}

.navshow{
  visibility: visible;
  transform: translateY(0px);
  transition: all .5s;
}

.bglast {
  background: linear-gradient(to right, #1e5799 0%,#2ce0bf 19%,#88c55c 40%,#cbbc37 60%,#58c4e1 83%,#1e5799 100%);
  opacity: 0.8;
  background-size: 10000px 100%;
  animation: bg 15s linear infinite ;
}

@keyframes bg{
  0%{
    background-position-x: 0;
  }
  
  100%{
    background-position-x: 10000px;
  }
}


/* windows95 */
.wrapper{
  background-color: #108083;
  position: relative;
  overflow: hidden;
  -webkit-filter: grayscale(0.3);
}
.windowpop,
.windowmsg,
.start-button,
.winon{
  background-color: #C0C0C0;
  border-top: #fff solid 3px;
  border-left: #fff solid 3px;
  border-right: #000 solid 3px;
  border-bottom: #000 solid 3px;
}
.time,
.window-body,
.winoff{
  background-color: #C0C0C0;
  border-top: 2px solid #6D6E6B;
  border-left: 2px solid #6D6E6B;
  border-bottom: 2px solid #ffffff ;
  border-right: 2px solid #ffffff;
}

.bar{
  position: absolute;
  bottom: 0;
  height: 32px;
  width: 100%;
  background-color: #C0C0C0;
  border-top: 2px solid #FFFFFF;
  padding-left: 3px;
  color: #000000;
}

.start-button{
  cursor: pointer;
  position: absolute;
  height: 25px;
  margin-top: 3px;
  font-weight: bold;
  width: 64px;
  border-width: 2px;
}
.start-button img{
  position: relative;
  top: -4px;
  height: 90%;
}
.start-button span{
  position: relative;
  top: -3px;
  font-family: 'DungGeunMo';
  letter-spacing: 1.5px;
  padding-left: 1.5px;
}
.quick {
  cursor: pointer;
  height: 80%;
  position: absolute;
  top: 3px;
  left: 70px;
  padding: 0px 4px 0 10px;
  border-left: 2px ridge lightgray;
  border-right: 2px ridge lightgray;
}
.quick img{
  margin-bottom: 5.5px;
}
.quick::before{
  content: '';
  border-left: 4px gainsboro ridge;
  position: absolute;
  top: 3px;
  left:2px;
  height: 18px;
}
.quick:after{
  content: '';
  border-right: 4px gainsboro ridge;
  position: absolute;
  top: 3px;
  left: 110px;
  height: 18px;
}
.quick img{
width: 20px;
padding-right: 2px;
}
.time{
  cursor: pointer;
  position: relative;
  width: 117px;

  height: 24px;
  float: right;
  margin-right: 3px;
  margin-top: 3px;
}

.time>span{
  font-size: 0.8em;
  position: absolute;
  right: 3px;

}
.time>img{
  position: absolute;
  height: 17px;
  margin-left: 5px;
}


.desktop{
  color: white;
  font-size: 0.8em;
}

.icons{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 550px;
}


.icons>li{
  width: 65px;
  margin: 12px;
  text-align:center;
  line-height: 95%;
}

.icons>li img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  width: 37px;
  height: 35px;
}
.icons>li>a{
  color: white;
}

.windowpop{
  position: absolute;
  width: 320px;
}
.windowmsg{
  position: absolute;
  width: 320px;
}

.window-header{
  background: linear-gradient(90deg, #000b7c, #377cc6);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  font-size: 14px;
}

.window-header .d-flex>div{
  color: black !important;
  border-width: 2px;
  width: 18px;
  height: 18px;
  margin-left: 3px;
  margin-top: 2px;
  position: relative;
}
.window-header .d-flex>div>div{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 2px;
  bottom: 2px;
}
.window-header .d-flex>div>i{
  position: absolute;
  font-weight: bolder;
  font-size: 10px;
}
.window-header .d-flex>div:nth-child(1) div{
  border-bottom: #000 2px solid;
}
.window-header .d-flex>div:nth-child(2) div{
  border: 1px solid #000;
  border-top-width: 2px;
}
.window-body{
  background-color: #fff;
}
textarea:focus {outline:none;}

.w-100px{
  min-height: 15px;
}
li.row.py-2{
  cursor: pointer;
}

.windowpop{
  display: none;
}

@media (min-width: 1200px) {
  .h-c1{
    width: 55%;
  }
  .h-c2{
    width: 45%;
  }
}